body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

body #root {
  color: #ddd;
}


input {
  border-radius: 2px;
  padding: 4px;
  //box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  background: #ffffff21;
  color: white;
  text-align: center;
  max-width: 60px;

  &:focus {
    outline: none;
  }

  &.large {
    max-width: none;
    width: 85%;
    text-align: left;
  }
}
